.quadrado{
  background-color: red;
  padding: 20px;
  animation-name: opa;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes opa{
  0% {background-color: red}
  25% {background-color: green}
  50% {background-color: red}
  75% {background-color:blueviolet;}
}
