.quadrado{
  background-color: red;
  padding: 200px;
  animation-name: opa;
  animation-duration: 11s;
  animation-iteration-count: infinite;
}
@keyframes opa{
  0% {background-color: red}
  25% {background-color: rgb(30, 66, 185)}
  50% {background-color: rgb(218, 85, 173)}
  75% {background-color:blueviolet;}
}
